body {
    background-color: cadetblue;
}

nav {
    height: 100%;
    width: 89px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav>a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 12px 10px 12px 5px

}

nav>a:hover{
    color: red;
    background-color: white;
}

div{
    margin: 200px 300px 0px 200px;
    padding: 5px 5px 5px 10px;
}

div>h1,h4,h3{
    margin: 0px;
      
}
div>h1{
    font-size: 50px;
}
div>h3{
    font-size: 30px;
}
div>h4{
    font-size: 20px;
}

